.player-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.song-cover{
    margin-top: 5%;
    margin-bottom: 1%;

}
.song-cover img{
    background-position: center;
    background-size:contain;
    height: 300px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.324) 0px -5px 30px;
}
.song-details{
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.controller{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    width: 100%;
}
.controller-controls{
    width: 25%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.controller-slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 10px;
}
.slider{
    width: 100%;
    cursor: pointer;
    background: black;

}
.slider {
    width: 350px;
    height: 15px;
    -webkit-appearance: none;
    background: rgb(139, 139, 139);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgb(147, 147, 147);
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    border: 4px solid rgb(249, 64, 51);
    box-shadow: -407px 0 0 400px hsl(0, 0%, 0%);
  }
  

.controller-controls img{
    height: 50px;
}
.reverse{
    transform: rotate(180deg);
}
.controller-controls button{
    border: none;
    background-color: white;
}